* {
    margin: 0;
    padding: 0;
}

#img-container{
    width: 40%;
    height: 100%;
    position: relative;
}

#bg-img{
    width: 100%;
    height: 100%;
}
#logo-container{
    background-color: rgba(0, 0, 0, 0.4);
    height: 20%;
    width: 100%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
}

#logo-text, #logo {
    height: 100%;
    color: white;
}

#main-container{
    display: flex;
    height: 100vh;
}

#input-outer-container{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#sign-up-container{
    padding: 10% 10% 15% 5%;
}

h2, button, p{
    margin-top: 2%;
}

label{
    margin-top: 10px;
}